.about_container {
  height: 70vh;
  display: flex;
  padding: 5vh 10vw;
}

.name {
  border: solid 1px rgb(0, 0, 0);
  width: 30vw;
  height: 100%;
  fill: 1;
}

.description {
  border: solid 1px rgb(0, 0, 0);
  width: 80vw;
  height: 100%;
}
